html
    head
        link(rel="stylesheet" href="main.css") 
    body
        .reveal
            .slides

                section
                    figure
                        img(src="assets/commitstrip-ai-if.jpg")
                        figcaption.small
                            a(href="http://www.commitstrip.com/en/2017/06/07/ai-inside/") commitstrip.com/en/2017/06/07/ai-inside/


                section
                    h1 Alexa Voice Skill
                    h2 Running on Symfony
                    h4 Jan Gregor Emge-Triebel

                section
                    h2 Legal Disclaimer
                    blockquote This talk is in no way supported, sponsored or affiliated by Amazon.
                    p All product names, logos, and brands are property of their respective owners. All company, product and service names used in this website are for identification purposes only. Use of these names, logos, and brands does not imply endorsement.

                section
                    h2 Naming is hard
                    table.comparison
                        tr
                            td
                                img(src="assets/AlexaSkillsKit.png")
                                p Alexa Skills Kit
                            td
                                img(src="assets/AlexaVoiceServices.png")
                                p Alexa Voice Services

                section
                    section
                        h2 Devices
                        figure
                            img(src="assets/DeviceBanner.png")
                            figcaption Amazon device family ($30+)
                    section
                        h2 Devices
                        figure
                            img(src="assets/ThirdPartyBanner.png")
                            figcaption Third party devices (all over the place)
                    section
                        h2 Devices
                        figure
                            img(src="assets/raspberry.jpg" style="height: 60%;")
                            figcaption DIY solutions (parts only)
                    section
                        h2 Devices
                        figure
                            img(src="assets/echosim.png" style="height: 60%;")
                            figcaption Software only (echosim.io) (free)

                section
                    h2 Limitations
                    ul
                        li Output is limited to text (-to-speech)*
                        li No money to be made directly
                            ul
                                li Alexa fund, service integration, ...
                        li You cannot initiate conversation
                        li Notifications coming "soon"

                section
                    h2 Helpful tools
                    ul
                        li ngrok (en-grok) / heroku
                        li Postman / Paw (macOS only)
                        li Jayson (macOS only)

                section
                    h2 The AlexaKitBundle
                    ol
                        li Receives incoming requests
                            ul
                                li Validates them
                                li Transforms them
                        li Processes the intent
                        li Provides Response-Objects

                section
                    section
                        h2 Demo
                        p Application repository:
                        p
                            a(href="https://gitlab.com/JanGregor/dice-roller") gitlab.com/JanGregor/dice-roller
                        p Bundle repository:
                        p
                            a(href="https://gitlab.com/JanGregor/alexa-kit-bundle") gitlab.com/JanGregor/alexa-kit-bundle

                    section
                        h2 Fallback
                    section
                        h2 Skill Setup
                        figure.no-border
                            img.no-border(src="assets/skill-setup.png")
                    section
                        h2 Skill Setup
                        figure.no-border
                            img.no-border(src="assets/intent-simple.png")
                    section
                        h2 Skill Setup
                        figure.no-border
                            img.no-border(src="assets/intent-advanced.png")
                    section
                        h2 Skill Setup
                        figure.no-border
                            img.no-border(src="assets/skill-test.png")
                    section
                        h2 Setup
                        pre
                            code.bash
                                | php composer.phar require jangregor/alexa-kit-bundle
                        pre
                            code.php
                                | class AppKernel extends Kernel
                                | {
                                |     public function registerBundles()
                                |     {
                                |         $bundles = [
                                |             ...
                                |             new JanGregor\AlexaKitBundle\JanGregorAlexaKitBundle(),
                                |         ];
                                |         ...
                                |      }
                                | }
                        pre
                            code.yml
                                | jan_gregor_alexa_kit:
                                |     resource: "@JanGregorAlexaKitBundle/Resources/config/routing.yml"
                                |     prefix:   /
                    section
                        h2 Bundle Configuration
                        pre
                            code.yml
                                | jan_gregor_alexa_kit:
                                |     timeout_limit: 150
                                |     application_ids:
                                |         - EnterIdHere
                    section
                        h2 Create your Intent
                        pre
                            code.php
                                | use JanGregor\AlexaKitBundle\Common\IntentInterface;
                                | use JanGregor\AlexaKitBundle\Model\Request\AlexaRequest;
                                | use JanGregor\AlexaKitBundle\Model\Response\AlexaResponse;
                                |
                                | class RollSimpleDice implements IntentInterface
                                | {
                                | }
                    section
                        h2 Implement methods - I
                        pre
                            code.php
                                | public function getIntentNames(): array
                                | {
                                |     return [
                                |         'rollSimpleDice'
                                |     ];
                                | }
                        p *This might chance in the future!
                    section
                        h2 Implement methods - II
                        pre
                            code.php
                                | public function processRequest(AlexaRequest $request): AlexaResponse
                                | {
                                |     $alexaResponse = new AlexaResponse();
                                |
                                |     $alexaResponse->getResponse()->getOutputSpeech()->setText(sprintf(
                                |         'I rolled a %s for you.',
                                |         rand(1,6)
                                |     ));
                                |
                                |     return $alexaResponse;
                                | }
                    section
                        h2 Register and Tag Service
                        pre
                            code.yml
                                | services:
                                |
                                |     app_bundle.intent.roll_simple_dice:
                                |         class: AppBundle\Intent\RollSimpleDice
                                |         tags:
                                |             - { name: 'alexa_kit.intent' }

                section
                    h2 What's missing ?
                    ul
                        li Certificate validation
                        li Support for more return types
                            ul
                                li Cards, Views, Audio, Streams, ...
                        li Notifications*
                        li Error handling
                        li Debugger / Profiler
                        li More testing
                        li More documentation

                section
                    h2 Thank you !
                    h2 Any questions ?
                    h4 Please rate this talk
                    h5
                        | Find this talk at
                        br
                        a(href="http://jangregor.gitlab.io/alexa-symfony-slides/") jangregor.gitlab.io/alexa-symfony-slides
                    h5
                        | Find me at
                    table.social
                        tr
                            td
                                i.fa.fa-twitter.fa-3x
                                p
                                    a(href="https://twitter.com/Jan0707") @Jan0707
                            td
                                i.fa.fa-stack-overflow.fa-3x
                                p
                                    a(href="https://stackoverflow.com/users/1143315/jan") Jan
                            td
                                i.fa.fa-envelope.fa-3x
                                p
                                    a(href="mailto:Jan@JanGregor.me") Jan@JanGregor.me

        script(src="main.js")
