@import "../node_modules/font-awesome/scss/font-awesome.scss";

table.social {
  width: 100%;
  td {
    width: 33.33%;
    text-align: center;
    p {
      text-align: center;
      font-size: smaller;
    }
  }
  i {
    // Solarized theme color
    color: #586e75
  }
}

table.comparison {
  width: 100%;
  td {
    width: 50%;
    text-align: center;
    img {
      border: none;
      box-shadow: none;
      width: 70%;
      height: auto;
      max-height: none;
      max-width: none;
    }
    p {
      text-align: center;
      font-size: smaller;
    }
  }
}

figure figcaption.small {
  font-size: small;
}

figure.no-border {
  box-shadow: none;
  border: none;
  img {
    box-shadow: none;
    border: none;
  }
}
